header{
    height: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    /* BURGER MENU */
    #burger{
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 999;

        button{
            border-radius: .25rem;
            background: #fff;
            border: 0;
            font-size: 1rem;
            color:green;
        }
    }
    nav{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        background-color: #fff;
        overflow: hidden;
        transition: .3s;
        ul{
            height: 100%;
            padding: 1rem 0 1rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                padding: .75rem;
                a{
                    font-size: 1.25rem;
                    text-decoration: none;
                    color: rgb(71, 71, 71);
                    transition: .3s;
                    &:hover{
                        color: black;
                        transition: .3s;
                    }
                }
            }
        }
    }


    .title-container{
        margin-top: 2rem;

        h1{
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 130%;
            color: white;
            text-align: center;
        }
        p{
            font-size: 1rem;
            line-height: 130%;
            color: white;
            text-align: center;
        }
    }

    form{
        width: 70%;
        display: flex;
        background-color: rgba(255,255,255,.7);
        justify-content: space-between;
        align-items: center;
        padding-left: .5rem;
        margin-bottom: 2rem;

        input{
            margin:.5rem 0;
            border: none;
            padding: .75rem;
            width: 14rem;
            border-radius: .3rem;
            font-family: 'roboto', sans-serif;
            border: 1px solid rgb(199, 199, 199);
            &:hover{
                cursor: pointer;
            }
        }
        input[type = date]{
            // content: attr(placeholder)"_";
            &::before{
                content: attr(placeholder)" : ";
                white-space: pre;
            }
        }
        input[type=submit]{
            height: 100%;
            border: 0px;
            border-radius: 0px;
            background-color: rgba(0, 128, 0, .7);
            transition: all .3s;
            color: white;
            cursor: pointer;

            &:hover{
                background-color: rgba(0, 128, 0, 1);
                transition: all .3s;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    header{
        form{
            width: 95%;
            input{
                width: 13rem;
            }
        }
    }
}

@media screen and (max-width:996px) {
    header{
        form{
            flex-direction: column;
            padding: 0;
            input{
                width: 85vw;
            }
            input[type = submit]{
                width: 100%;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width:575px) {
    header{
        form{
            flex-direction: column;
            padding: 0;
            input{
                width: 85vw;
            }
        }
    }
}